<h2>Busquedas</h2>
<hr />
<ul class="list-group">
    <li routerLink="" class="list-group-item" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        Buscar país
    </li>
    <li routerLink="region" class="list-group-item" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Por region
    </li>
    <li routerLink="capital" class="list-group-item" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Por capital
    </li>
</ul>